header{
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 9999;
    .navigation{
        background-color: rgba(0, 0, 0, 0.40);
        @include dflex;
        &__left{
            @include dflex;
            .logo{
                padding-left: 30px;
            }
            .socials{
                padding-left: 50px;
                @include dflex;
                gap: 10px
            }
            .number{
                padding-left: 50px;
                @include dflex;
                p{
                    padding-left: 10px;
                    color: $text-color;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 130%;
                }
            }
        }
        &__right{
            @include dflex;
            ul{
                @include dflex;
                gap: 40px;
                padding-right: 50px;
                li{
                    a{
                        color: $text-color;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                    }
                }
            }
            .nav__button{
                @include button;
                color: $text-color;
                padding: 30px 25px;
                background-color:  #6A369C;
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                border: 2px solid #6A369C;
            }
        }
    }
}
