#partners{
    background-color: $bg-color;
    .partners{
        @include dflex;
        flex-direction: column;
        h1{
            color: $text-color;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 130%;
        }
        div{
            padding-top: 50px;
            padding-bottom: 120px;
            width: 100%;
            @include dflex;
        }
    }
}
@media (max-width:700px){
    #partners{
        background-color: $bg-color;
        .partners{
            @include dflex;
            flex-direction: column;
            h1{
                color: $text-color;
                font-size: 24px;
                font-style: normal;
                font-weight: 700;
                line-height: 130%;
            }
            div{
                padding-top: 50px;
                padding-bottom: 40px;
                width: 100%;
                @include dflex;
                flex-direction: column;
                gap: 30px;
            }
        }
    } 
}